nav {
  height: 4em;
  display: flex;
  padding: 0.5rem 1em;
  z-index: 10;
  justify-content: space-between;
  margin: 1%;
  background-color: whitesmoke;
}

.link {
  font-family: 'Lato', sans-serif;
  color: #1C3C17;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  margin-left: 10%;
  font-size: 1.5rem;
  cursor: pointer;
}

.active {
  color: #854016;
  text-decoration: underline;
}

.menu {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.logoSide{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.logo {
  height: 100%;
}

.mobileMenu{
  display: none;
}


@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .mobileMenu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.6rem;
    cursor: pointer;
    color: #1C3C17;
  }
  .logo {
    height: 70%;
    width: 70%;
  }
  .logoSide{
    margin-left: -100px;
  }
}